@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .link-underlined {
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-underline-offset: 2px;
  }

  .link-underlined:hover {
    text-decoration-thickness: 2px;
  }
}
