node_modules
.env
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
coverage
dist
.stryker-tmp
reports
tests/generated
tests/e2e/.wrangler
tests/e2e/fixtures/generated
tests/e2e/node_modules
.scannerwork
tests/prisma/db.sqlite
tests/prisma/schema-postgres-v7.prisma
tests/prisma/schema-postgres.prisma
tests/prisma/schema-sqlite.prisma
tests/prisma/schema-sqlite.prisma
tests/prisma/schema.prisma